.program__buttons {
    display: flex;
    gap: 24px;
    width: 100%;
    justify-content: flex-end;
  }

@media (max-width: 1350px) {
    .program__buttons {
        flex-direction: column;
    }
}