.program__image {
    display: block;
    background-color: #E2DDDD;
    border-radius: 13px;
    width: 100%;
    max-width: 273px;
    color: transparent;
    position: relative;
    height: 174px;
  }

.program__image:before {
    content: " ";
    display: block;
    background-color: #E2DDDD;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 1200px) {
    .program__image {
        max-width: 100%;
    }
}