.main {
    display: flex;
    gap: 60px;
    padding: 0 126px 0 80px;
    position: relative;
    box-sizing: border-box;
  }
  
  .main::before {
    content: '';
    background-color: #148c88;
    position: absolute;
    display: block;
    height: 400px;
    width: 100%;
    top: 0;
    left: 0;
  }

@media (max-width: 1111px) {
    .main::before {
        height: 470px;
    }
}

@media (max-width: 950px) {
    .main {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .main::before {
        height: 540px;
    }
}