.main {
    display: flex;
    gap: 60px;
    background-size: 400px 100%;
    padding: 0 126px 0 80px;
    position: relative;
    background-color: #F8F8F8;
    box-sizing: border-box;
  }
  
  .main::before {
    content: '';
    background-color: #148c88;
    position: absolute;
    display: block;
    height: 450px;
    width: 100%;
    top: 0;
    left: 0;
  }